            @font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, div, h1, p{margin: 0;}
body{ position: relative; background: black;
	}
h1, p{ color: white;
		font-family: 'MapoGoldenPier';}
p{line-height: 1.9em; word-break: keep-all; font-size: 1.2em;}


#moniter{width: 80px; height: 30px; background: black; color: white; position: fixed; top: 0; right: 0;}

		@keyframes lo{
				from{left: -100px;} to{left: 0px;}
			}
		@keyframes ro{
				from{right: 100px;} to{right: 0px;}
			}

.warp{
	width: 1200px; height: 7383px; position: absolute;
	left: calc(50% - 600px); background: black;
	overflow: hidden;
}

#back0{
	position: absolute;
	width: 1200px; height: 1500px;
	top: 0px;
	left: calc(50% - 600px);
	background: linear-gradient(to bottom, #0F3A43 50%, black);
}

#back2{

	position: absolute;
	width: 1200px; height: 1100px;
	top: 3600px;
	left: calc(50% - 600px);
	background:#B42640;
	
}

#back3{
	position: absolute;
	top: 2002px;
	left: calc(50% - 600px);
}

#back3_1{
	position: absolute;
	top: 3650px;
	left: calc(50% - 540px);
}

#back4{
	position: absolute;
	top: 1960px;
	left: 0px;
}

#back4_1{
	position: absolute;
	top: 2000px;
	left: 0px;

}

#back5{
	position: absolute;
	top: 3350px;
	left: calc(50% - 600px);

}

#people3back{
	position: absolute;
	left: 10px;
	top: 2600px;
}

#back10{
	position: absolute;
	width: 1200px; height: 920px;
	bottom:1770px;
	left: calc(50% - 600px);
	background: linear-gradient( to bottom, black 5%, #3A4A4B 30%, #007165);
}

#back10_1{
	position: absolute;
	width: 1200px; height: 920px;
	bottom:850px;
	left: calc(50% - 600px);
	background: linear-gradient( to top, black 15%, #3A4A4B 60%, #007165);
}

#domm1{
	position: absolute;
	width: 1100px;
	height: 430px;
	bottom: 2790px;
	left: calc(50% - 550px);
	border-radius: 500px 500px 0px 0px;
	background: url('table.gif') ;
}

#domm2{
	position: absolute;
	bottom: 1800px;
	left: calc(50% - 600px);
}

#bubble1{
	position: absolute;
	width: 90px; height: 90px;
	left: 250px; top: 730px;
	background: #FFF476;
	border:2px solid #B42840;
	border-radius:75px;
	animation: ba 1.5s linear infinite alternate, bb 0.3s linear infinite alternate;
}

@keyframes ba { 
				to {left: 280px; position: absolute; z-index: 0;}
				from {left: 240px; position: absolute; z-index: 0;}
			} 

@keyframes bb { 
				to {transform: translateY(-10%); position: absolute; z-index: 0;}
				from {transform: translateY(20%); position: absolute; z-index: 0;}
			} 


#bubble2{
	position: absolute;
	width: 60px; height: 60px;
	left: 50px; top: 800px;
	background: #FFF476;
	border:2px solid #B42840;
	border-radius:75px;
	animation: bc 1.9s linear infinite alternate, bb 0.3s linear infinite alternate;
}

@keyframes bc { 
				to {left: 80px; position: absolute; z-index: 0;}
				from {left: 40px; position: absolute; z-index: 0;}
			}

#bubble3{
	position: absolute;
	width: 65px; height: 65px;
	left: 200px; top: 960px;
	background: #F4A74C;
	border:2px solid #B42840;
	border-radius:75px;
	animation: bd 1.3s linear infinite alternate, bb 0.4s linear infinite alternate;
}

@keyframes bd { 
				to {left: 240px; position: absolute; z-index: 0;}
				from {left: 180px; position: absolute; z-index: 0;}
			}


#bubble4{
	position: absolute;
	width: 95px; height: 95px;
	right: 150px; top: 650px;
	background: #FFF476;
	border:2px solid #B42840;
	border-radius:75px;
	animation: be 1s linear infinite alternate, bb 0.6s linear infinite alternate;
}

@keyframes be { 
				to {right: 154px; position: absolute; z-index: 0;}
				from {right: 90px; position: absolute; z-index: 0;}
			}

#bubble5{
	position: absolute;
	width: 60px; height: 60px;
	right: 30px; top: 750px;
	background: #F4A74C;
	border:2px solid #B42840;
	border-radius:75px;
	animation: bf 1s linear infinite alternate, bb 0.4s linear infinite alternate;
}
@keyframes bf { 
				to {right: 10px; position: absolute; z-index: 0;}
				from {right: 30px; position: absolute; z-index: 0;}
			}


#bubble6{
	position: absolute;
	width: 72px; height: 72px;
	right: 240px; top: 860px;
	background: #FFF476;
	border:2px solid #B42840;
	border-radius:75px;
	animation: bg 1.3s linear infinite alternate, bb 0.3s linear infinite alternate;
}
@keyframes bg { 
				to {right: 270px; position: absolute; z-index: 0;}
				from {right: 220px; position: absolute; z-index: 0;}
			}


#bubble7{
	position: absolute;
	width: 55px; height: 55px;
	left: 110px; top: 590px;
	background: #EFCC6F;
	border:2px solid #B42840;
	border-radius:75px;
	animation: bh 1.4s linear infinite alternate, bb 0.5s linear infinite alternate;
}

@keyframes bh { 
				to {left: 150px; position: absolute; z-index: 0;}
				from {left: 100px; position: absolute; z-index: 0;}
			}

#bubble8{
	position: absolute;
	width: 55px; height: 55px;
	right: 110px; top: 990px;
	background: #EFCC6F;
	border:2px solid #B42840;
	border-radius:75px;
	animation: bi 1.4s linear infinite alternate, bb 0.5s linear infinite alternate;
}

@keyframes bi { 
				to {right: 150px; position: absolute; z-index: 0;}
				from {right: 100px; position: absolute; z-index: 0;}
			}


#domback2{
	position: absolute;
	width: 1100px;
	left: calc(50% - 550px);
	bottom: 350px;
}


#bottle1{
	position: absolute;
	top: 20px;
	left: -110px;
	animation: bo 1s infinite linear alternate;
}

@keyframes bo { 
				to {transform: rotate(5deg); position: absolute;}
				from{transform: rotate(0deg); position: absolute;}
			} 

#bottle2{
	position: absolute;
	top: 20px;
	right: -110px;
	animation: bo- 1s infinite linear alternate;

}
@keyframes bo- { 
				to {transform: rotate(-5deg); position: absolute;}
				from{transform: rotate(0deg); position: absolute;}
			} 

#cup{
	position: absolute;
	top: 390px;
	left: calc(50% - 279px);
	animation: cu 1s infinite linear alternate;
}

@keyframes cu { 
				to {transform: translateY(5%); position: absolute; z-index: 0;}
				from {transform: translateY(-3%); position: absolute; z-index: 0;}
			}

#people1_1{
	position: absolute;
	top: 1100px;
	right: -36px;
}

@keyframes peo { 
				to {transform: translateY(10%); position: absolute; z-index: 0;}
				from {transform: translateY(-2%); position: absolute; z-index: 0;}
			}

#people1_2{
	position: absolute;
	top: 1100px;
	right: 255px;
}

#people1_3{
	position: absolute;
	top: 1100px;
	left: 255px;
}

#people1_4{
	position: absolute;
	top: 1100px;
	left: -36px;
	cursor:pointer;
}

#table{
	position: absolute;
	width: 1210px;
	height: 480px;
	top: 1465px;
	border: 2px solid #B42640;
	left: calc(50% - 605px);
	background: url('table.gif');
}

#people1_21{
	position: absolute;
	top: 1532px;
	left: -36px;
}

#people1_22{
	position: absolute;
	top: 1532px;
	left: 255px;
}

#people1_23{
	position: absolute;
	top: 1532px;
	right: 255px;
}

#people1_24{
	position: absolute;
	top: 1532px;
	right: -36px;
	cursor:pointer;
}

#people2_1{
	position: absolute;
	top: 2035px;
	left: calc(50% - 577.5px);
	/*전광판 효과*/
	animation: sl 15s linear infinite;
}


@keyframes sl { 
	0%   {  transform: translateX(0%); position: absolute; }
 	100% { transform: translateX(-100%); position: absolute;}
	}

#people2_11{
	position: absolute;
	top: 2035px;
	left: calc(50% - 577.5px);
	/*전광판 효과*/
	animation: sli 30s linear infinite;
}

@keyframes sli { 
	0%   {  transform: translateX(100%); position: absolute; }
 	100% { transform: translateX(-100%); position: absolute;}
	}

#people2_2{
	position: absolute;
	top: 2242px;
	right: calc(50% - 577.5px);
	animation: sr 15s linear infinite;
}

@keyframes sr { 
	0%   {  transform: translateX(0%); position: absolute; }
 	100% { transform: translateX(100%); position: absolute;}
	}

#people2_22{
	position: absolute;
	top: 2242px;
	right: calc(50% - 577.5px);
	animation: sri 30s linear infinite;
}

@keyframes sri { 
	0%   {  transform: translateX(-100%); position: absolute; }
 	100% { transform: translateX(100%); position: absolute;}
	}

#midline{
	position: absolute;
	width: 1210px;
	height: 15px;
	top: 2190px;
	border: 2px solid #B42640;
	left: calc(50% - 605px);
	background: #007165;
}



#people3{
	position: absolute;
	top: 2617px;
	left: calc(50% - 581.5px);
}

#talk{
	position: absolute;
	top: 2900px;
	right: 65px;
	animation:ta 0.1s infinite linear alternate, ta- 0.2s infinite linear alternate;
}

@keyframes ta { 
				to {position: absolute; right: 5%}
				from{position: absolute; right: 7%}
			}

@keyframes ta- { 
				to {transform: translateY(1%); position: absolute; }
				from {transform: translateY(-7%); position: absolute;}
			}

#people4{
	position: absolute;
	top: 2950px;
	left: calc(50% - 582px);
}

#line1{
	position: absolute;
	top: 1930px;
	left: calc(50% - 600px);

}

#line1_1{
	position: absolute;
	top: 3300px;
	left: calc(50% - 600px);

}

#line2_1{
	position: absolute;
	top: 2400px;
	left: calc(50% - 600px);
}

#line2_2{
	position: absolute;
	top: 2850px;
	left: calc(50% - 600px);
}
#sword1{
	position: absolute;
	top: 3330px;
	left: 80px;
	transform:rotate(65deg);
	animation:sw 1s infinite linear alternate;
}

@keyframes sw { 
				to {transform: rotate(60deg); position: absolute;}
				from{transform: rotate(75deg); position: absolute;}
			} 

#sword2{
	position: absolute;
	top: 3490px;
	left: 150px;
	transform:rotate(40deg);
	animation:aw 1.3s infinite linear alternate;
}

@keyframes aw { 
				to {transform: rotate(55deg); position: absolute;}
				from{transform: rotate(40deg); position: absolute;}
			} 

#sword3{
	position: absolute;
	top: 3485px;
	left: 358px;
	transform:rotate(10deg);
	animation:bw 1.5s infinite linear alternate;
}

@keyframes bw { 
				to {transform: rotate(12deg); position: absolute;}
				from{transform: rotate(30deg); position: absolute;}
			} 

#sword4{
	position: absolute;
	left: calc(50% - 53.5px);
	top: 3550px;
	animation:fw 0.9s infinite linear alternate;
}

@keyframes fw { 
				to {transform: rotate(5deg); position: absolute;}
				from{transform: rotate(-5deg); position: absolute;}
			} 

#sword5{
	position: absolute;
	top: 3485px;
	right: 358px;
	transform:rotate(_10deg);
	animation:bw_ 1.4s infinite linear alternate;
}

@keyframes bw_ { 
				to {transform: rotate(-12deg); position: absolute;}
				from{transform: rotate(-30deg); position: absolute;}
			} 

#sword6{
	position: absolute;
	top: 3490px;
	right: 150px;
	transform:rotate(-40deg);
	animation:aw_ 1.6s infinite linear alternate;
}

@keyframes aw_ { 
				to {transform: rotate(-55deg); position: absolute;}
				from{transform: rotate(-40deg); position: absolute; }
			} 

#sword7{
	position: absolute;
	top: 3330px;
	right: 80px;
	transform:rotate(-65deg);
	animation:swd 1.2s infinite linear alternate;

}
@keyframes swd { 
				to {transform: rotate(-60deg); position: absolute;}
				from{transform: rotate(-75deg); position: absolute;}
			} 
#star1{
	position: absolute;
	bottom: 2050px;
	left: 100px;
	animation:sta 1s infinite linear alternate;
}

#star2{
	position: absolute;
	bottom: 1750px;
	left: 230px;
	animation:sta 0.9s infinite linear alternate;
}

#star3{
	position: absolute;
	bottom: 1540px;
	left: 150px;
	animation:sta 1.3s infinite linear alternate;
}


#star4{
	position: absolute;
	bottom: 2000px;
	right: 100px;
	animation:sta 1.9s infinite linear alternate;
}

#star5{
	position: absolute;
	bottom: 1800px;
	right: 130px;
	animation:sta 1s infinite linear alternate;
}


#star6{
	position: absolute;
	bottom: 1500px;
	right: 130px;
	animation:sta 1.3s infinite linear alternate;
}

#star7{
	position: absolute;
	bottom: 1650px;
	left: 90px;
	animation:sta 1.2s infinite linear alternate;
}

#star8{
	position: absolute;
	bottom: 1700px;
	right: 250px;
	animation:sta 1.7s infinite linear alternate;
}

#star9{
	position: absolute;
	bottom: 1950px;
	left: 180px;
	animation:sta 0.8s infinite linear alternate;
}

#star10{
	position: absolute;
	bottom: 1900px;
	right: 250px;
	animation:sta 1.5s infinite linear alternate;
}

@keyframes sta { 
				to {transform: scale(0.5); position: absolute;}
			} 

#trophy_back{
	position: absolute;
	bottom: 1388px;
	left: calc(50% - 408px);
	animation:troba 60s infinite linear alternate;
}

@keyframes troba { 
				to {transform: rotate(0deg); position: absolute;}
				from{transform: rotate(360deg); position: absolute;}
			} 

#trophy2{
	position: absolute;
	bottom: 1549px;
	left: calc(50% - 183px);
	transition: all 2s;
	opacity: 0%;
	cursor:pointer;
}

#trophy{
	position: absolute;
	bottom: 1549px;
	left: calc(50% - 183px);
	transition: all 2s;
	opacity: 100%;
	cursor:pointer;
}

@keyframes tro { 
				to {transform: rotateY(0deg); position: absolute;}
				from{transform: rotateY(360deg); position: absolute;}
			}

@keyframes troo { 
				to {transform: rotateY(0deg); position: absolute;}
				from{transform: rotateY(360deg); position: absolute;}
			}


#arm1{
	position: absolute;
	bottom: 2100px;
	left: 55px;
	animation: armmove 2s infinite linear alternate;
}

@keyframes armmove { 
				to {transform: rotate(-20deg); position: absolute; z-index: 0;}
				from{transform: rotate(20deg); left: 60px; bottom: 2000px; position: absolute; z-index: 0;}
			}



#arm1_1{
	position: absolute;
	bottom: 2100px;
	right: 55px;
	animation: armmovee 2s infinite linear alternate;
}

@keyframes armmovee { 
				to {transform: rotate(20deg); position: absolute; z-index: 0;}
				from{transform: rotate(-20deg); right: 60px; bottom: 2000px;  position: absolute; z-index: 0;}
			}

#triangle1{
	position: absolute;
	bottom: 2300px;
	left: calc(50% - 269px);
	transition: all 1s;
	cursor:pointer;
	animation: tri 0.3s infinite linear alternate;
}

@keyframes tri { 
				to {bottom: 2280px; position: absolute; z-index: 0;}
				from{bottom: 2325px; right: 60px; position: absolute; z-index: 0;}
			}

#arm2{
	position: absolute;
	bottom: 780px;
	left: 55px;
	animation: armmovetwo 1.3s infinite linear alternate;
}

@keyframes armmovetwo { 
				to {transform: rotate(-20deg); position: absolute; z-index: 0;}
				from{transform: rotate(5deg); left: 60px; bottom: 900px;  position: absolute; z-index: 0;}
			}

#arm2_1{
	position: absolute;
	bottom: 780px;
	right: 55px;
	animation: armmovetw 1s infinite linear alternate;
	}

@keyframes armmovetw { 
				to {transform: rotate(20deg); position: absolute; z-index: 0;}
				from{transform: rotate(-5deg); right: 60px; bottom: 900px;  position: absolute; z-index: 0;}
			}


#triangle2{
	position: absolute;
	left: calc(50% - 600px);
	bottom: 280px;
	animation: trii 3s infinite linear alternate;
}

@keyframes trii { 
				to {position: absolute; z-index: 0;}
				from{bottom: 380px; right: 60px; position: absolute; z-index: 0;}
			}

#mouth{
	position: absolute;
	left: calc(50% - 151px);
	bottom: 770px;
	animation: mou 0.1s infinite linear alternate;
}

@keyframes mou { 
				to {transform: rotate(5deg); bottom: 790px; position: absolute; z-index: 0;}
				from{transform: rotate(-5deg); bottom: 780px; position: absolute; z-index: 0;}
			}

#triangle2next{
	position: absolute;
	left: calc(50% - 530.5px);
	bottom: 75px;
}
#people5{
	position: absolute;
	left: calc(50% - 577.5px);
	bottom: -5px;
}

#face{
	position: absolute;
	left: calc(50% - 153.5px);
	bottom: 0px;
}

#people5_2{
	position: absolute;
	left: 265px;
	bottom: -5px;
}

#people5_3{
	position: absolute;
	right: 265px;
	bottom: -5px;
}

#people5_arm{
	position: absolute;
	left: calc(50% - 298px);
	bottom: -40px;
	animation: armmovefiv 1.5s infinite linear alternate;
}

@keyframes armmovefiv { 
				to {bottom: -20px; position: absolute; z-index: 0;}
			}

#people5_1{
	position: absolute;
	left: 22px;
	bottom: -5px;
}

#people5_1arm{
	position: absolute;
	left: 50px;
	bottom: 50px;
}

@keyframes armmovefi { 
				from {transform: rotate(50deg); left: -32px; bottom: -27px; position: absolute; z-index: 0;}
				to {transform: rotate(0deg); position: absolute; z-index: 0;}
			}

#people5_4{
	position: absolute;
	right: 22px;
	bottom: -5px;
}

#people5_2arm{
	position: absolute;
	right: 50px;
	bottom: 50px;
}

@keyframes armmovefii { 
				from {transform: rotate(-50deg); right: -32px; bottom: -27px; position: absolute; z-index: 0;}
				to {transform: rotate(0deg); position: absolute; z-index: 0;}
			}



#dom_top{
	position: absolute;
	bottom: 2662px;
	left: calc(50% - 600px);
}

#dom_left{
	position: absolute;
	bottom: -15px;
	left: 0px;
}

#dom_right{
	position: absolute;
	bottom: -15px;
	right: 0px;
}

/*텍스트 css*/

.spanclass{
	background: black;
	padding: 2px;
}


.maintext{
	width: 600px; height: 300px;
	left: calc(50% - 300px);
	top: 50px;
	position: absolute;
	text-align: center;
}

#text1{
	top: 100px;
}

#text2{
	top: 1800px;
}

#text3{
	top: 3900px;
}

#text3_2{
	top: 4350px;
}


#text4{
	top: 5420px;
	left: 35px;
	width: 500px;
	height: 100px;
}

#text4_2{
	top: 5650px;
	left: 680px;
	width: 500px;
	height: 100px;
	
}

#text5{
	top: 6650px;
}